*{
    margin:0;
    box-sizing: border-box;
    font-family:"RegisterFont";
}

@font-face {
    font-family: "RegisterFont";
    src: url("../font/RolexLight.woff2");
}

.registerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: 'center';
}

.registerCard {
    background-color: white;
    margin-top: 7%;
    margin-bottom: 8%;
    width: 40%;
    height: 70%;
    position: absolute;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
   
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.formTitle{
    text-align: center;
}


input {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 70%;
    height: 10%;
    border-radius: 0.25em;
    text-align: center;
    
    font-size: 0.75em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.registerButton {
    width: 150px;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.registerButton:hover { transform: scale(1.25);}

.hide {
    position: absolute;
    transform: scale(0);
}

.showRegisterPopup {
    position: absolute;
    margin-bottom: 25%;
    margin-top: 25%;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
    text-align: center;
}

.dText{
    font-size:x-small;

}

.rText{
    font-size:x-small; 
    color: rgb(17, 168, 248);
}

.accountMethod{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:'90%'
}

.closePopup{
    background-image: url("../icons/google.png");

}


.google{
    background-image: url("../icons/google.png");
}

.meta{
    background-image: url("../icons/facebook.png");
}